.font-bubble {
  font-family: "Bubblegum Sans", cursive;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block {
  display: block;
}
.clr-white {
  color: var(--white);
}
.clr-black {
  color: var(--black);
}
.clr-gray {
  color: var(--gray);
}
.fs-8 {
  font-size: var(--fs-8);
}
.fs-11 {
  font-size: var(--fs-11);
}
.fs-12 {
  font-size: var(--fs-12);
}
.fs-13 {
  font-size: var(--fs-13);
}
.fs-14 {
  font-size: var(--fs-14);
}
.fs-15 {
  font-size: var(--fs-15);
}
.fs-16 {
  font-size: var(--fs-16);
}
.fs-18 {
  font-size: var(--fs-18);
}
.fs-20 {
  font-size: var(--fs-20);
}
.fs-23 {
  font-size: var(--fs-23);
}
.fs-28 {
  font-size: var(--fs-28);
}
.fs-31 {
  font-size: var(--fs-31);
}
.fs-35 {
  font-size: var(--fs-35);
}
.fs-36 {
  font-size: var(--fs-36);
}
.fs-40 {
  font-size: var(--fs-40);
}
.fw-light {
  font-weight: var(--fw-light);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-semibold {
  font-weight: var(--fw-semibold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-black {
  font-weight: var(--fw-black);
}
.lh-10 {
  line-height: var(--lh-10);
}
.lh-13 {
  line-height: var(--lh-13);
}
.lh-14 {
  line-height: var(--lh-14);
}
.lh-15 {
  line-height: var(--lh-15);
}
.lh-16 {
  line-height: var(--lh-16);
}
.lh-16-25 {
  line-height: var(--lh-16-25);
}
.lh-17 {
  line-height: var(--lh-17);
}
.lh-18 {
  line-height: var(--lh-18);
}
.lh-19 {
  line-height: var(--lh-19);
}
.lh-20 {
  line-height: var(--lh-20);
}
.lh-21 {
  line-height: var(--lh-21);
}
.lh-23 {
  line-height: var(--lh-23);
}
.lh-24 {
  line-height: var(--lh-24);
}
.lh-26 {
  line-height: var(--lh-26);
}
.lh-27 {
  line-height: var(--lh-27);
}
.lh-36 {
  line-height: var(--lh-36);
}
.lh-42 {
  line-height: var(--lh-42);
}
.lh-45 {
  line-height: var(--lh-45);
}
.lh-47 {
  line-height: var(--lh-47);
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.relative {
  position: relative;
}
.list-none {
  list-style-type: none;
}
.d-none {
  display: none;
}
