#terms,
#privacy {
  .terms,
  .privacy {
    padding: 71px 0px 95px;
    background-image: url(/assets/img/backgroung-image.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
